@charset "UTF-8";
body {
  margin: 0;
  padding: 0 15px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

a:hover {
  color: #22a447;
  transition: ease-in-out 0.3s;
}

/* the free icons CDN online */
ion-icon {
  padding: 0 3px;
}

button {
  border: none;
  border-radius: 10px;
  margin: 5px;
  padding: 3px;
  background-color: rgba(50, 224, 254, 0.3);
  cursor: pointer;
  font-size: 1rem;
}

button:hover {
  background-color: rgba(247, 113, 113, 0.3);
  transition: ease-in-out 0.3s;
  font-weight: 700;
}

[data-title] {
  font-size: 2rem;
  text-align: center;
  padding: 20px 0 0 0;
  margin-bottom: -10px;
}

.contacts {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 0;
}

.contacts [data-sub] {
  display: inline;
  font-size: 1rem;
  padding: 10px;
}

/* pure css easter egg */
[data-more] {
  padding: 5px 20px;
}

#more {
  display: none;
}

#more:target {
  display: block;
}

#more-a:target {
  display: none;
}

#more-a:target ~ .item {
  display: none;
}

/* container */
.waterfall {
  width: 100%;
  margin: 0px auto;
  column-count: 3;
  column-gap: 20px;
}

.item {
  border-radius: 15px;
  margin: 0 auto 20px;
  padding: 10px 20px;
  box-sizing: border-box;
  text-align: left;
  break-inside: avoid;
  background-color: #eeebeb;
  box-shadow: 0 1px 2px rgba(239, 176, 176, 0.06), 0 2px 4px rgba(224, 135, 135, 0.06), 0 4px 8px rgba(0, 0, 0, 0.06), 0 8px 16px rgba(223, 145, 145, 0.06), 0 16px 32px rgba(0, 0, 0, 0.06), 0 32px 64px rgba(238, 164, 164, 0.12);
  transition: box-shadow 0.3s ease-in-out;
  /*auto：中斷, avoid：不中斷 */
}

.item h2 {
  font-size: 1.3rem;
}

.item h2:before {
  content: "🌊";
  color: white;
  text-align: center;
  display: block;
  width: 40px;
  height: 30px;
  border-radius: 50%;
  background-color: rgba(52, 180, 195, 0.2);
}

.item img {
  width: 75%;
  object-fit: cover;
  object-position: 50% 50%;
}

.item li img {
  width: 50%;
}

.item:hover {
  /* micro-adjustment for the shadows */
  box-shadow: 0 1px 2px rgba(192, 250, 214, 0.3), 0 2px 4px rgba(188, 246, 191, 0.3), 0 4px 8px rgba(197, 250, 197, 0.3), 0 8px 16px rgba(207, 248, 195, 0.3), 0 16px 32px rgba(192, 244, 197, 0.3), 0 32px 64px rgba(200, 251, 196, 0.24);
  transition: ease-in-out 0.2s;
}

.item:hover img {
  transform: scale(1.1);
}

.item:active {
  /* micro-adjustment for the shadows */
  box-shadow: 0 1px 2px rgba(240, 213, 62, 0.12), 0 2px 4px rgba(230, 226, 36, 0.12), 0 4px 8px rgba(218, 122, 44, 0.12), 0 8px 16px rgba(226, 158, 22, 0.12), 0 16px 32px rgba(227, 136, 39, 0.12), 0 32px 64px rgba(237, 140, 28, 0.24);
}

/* the special Logo of our project */
#zuzugo {
  margin: -30px 0;
}

#zuzugo:hover {
  content: url("../public/assets/zuzugo-avatar.svg");
}

@media (max-width: 768px) {
  .waterfall {
    column-count: 2;
  }
  .item img {
    width: 82%;
  }
}

@media (max-width: 576px) {
  .waterfall {
    column-count: 1;
  }
  .item img {
    width: 80%;
  }
}

/* dark mode easter egg */
.dark-mode {
  transition: ease-in-out 0.5s;
  background-color: #120a4f;
  color: #d8d7d7;
}

.dark-mode .item {
  background-color: #32229b;
  color: #c2c1c1;
}

.dark-mode button {
  border: white solid 1px;
  background-color: white;
  color: #c2c1c1;
}

.dark-mode ion-icon {
  color: #c2c1c1;
}

.dark-mode h2:before {
  content: "🧛";
}

.dark-mode #dark-mode-btn {
  color: #e3d02a;
}

.dark-mode footer:after {
  content: "darkmode triggered!";
}

.dark-mode footer a {
  color: white;
}

.dark-mode footer a:hover {
  color: #cc3131;
}

/* the above is a newer feature supported by HTML5 */
/* .waterfall {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  @supports (grid-template-rows: masonry) {
    .waterfall {
      grid-template-rows: masonry;
    }
    .waterfall .item {
      height: auto;
    }
  } */
